@model List<QuestionViewModel> 
@{
    ViewData["Title"] = "All questions";
}

<div class="text-center">
    <h1 class="display-4">All questions</h1>
    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Questions" asp-action="AddQuestion">Add Question</a>
    <br />
    <table class="table table-striped mt-2">
        <thead>
            <tr>
                <th scope="col">
                    Votes
                    <a asp-area=""
                       asp-controller="List"
                       asp-action="Index"
                       asp-route-orderBy="Votes"
                       asp-route-direction="Descending">v</a>
                    <a asp-area=""
                       asp-controller="List"
                       asp-action="Index"
                       asp-route-orderBy="Votes"
                       asp-route-direction="Ascending">^</a>
                </th>
                <th scope="col">
                    Title
                    <a asp-area=""
                       asp-controller="List"
                       asp-action="Index"
                       asp-route-orderBy="Title"
                       asp-route-direction="Descending">v</a>
                    <a asp-area=""
                       asp-controller="List"
                       asp-action="Index"
                       asp-route-orderBy="Title"
                       asp-route-direction="Ascending">^</a>
                </th>
                <th scope="col">
                    Body
                    <a asp-area=""
                       asp-controller="List"
                       asp-action="Index"
                       asp-route-orderBy="Body"
                       asp-route-direction="Descending">v</a>
                    <a asp-area=""
                       asp-controller="List"
                       asp-action="Index"
                       asp-route-orderBy="Body"
                       asp-route-direction="Ascending">^</a>
                </th>
                <th scope="col">
                    Views
                    <a asp-area=""
                       asp-controller="List"
                       asp-action="Index"
                       asp-route-orderBy="Views"
                       asp-route-direction="Descending">v</a>
                    <a asp-area=""
                       asp-controller="List"
                       asp-action="Index"
                       asp-route-orderBy="Views"
                       asp-route-direction="Ascending">^</a>
                </th>
                <th scope="col">
                    Added
                    <a asp-area=""
                       asp-controller="List"
                       asp-action="Index"
                       asp-route-orderBy="DateAdded"
                       asp-route-direction="Descending">v</a>
                    <a asp-area=""
                       asp-controller="List"
                       asp-action="Index"
                       asp-route-orderBy="DateAdded"
                       asp-route-direction="Ascending">^</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model)
            {
                <tr>
                    <th scope="row">
                        <a asp-area=""
                           asp-controller="Questions"
                           asp-action="VoteUpQuestion"
                           asp-route-questionId="@question.Id">
                            ^
                        </a>
                        @question.Votes
                        <a asp-area=""
                           asp-controller="Questions"
                           asp-action="VoteDownQuestion"
                           asp-route-questionId="@question.Id">
                            v
                        </a>
                    </th>
                    <td><a asp-area=""
                           asp-controller="Questions"
                           asp-action="Details"
                           asp-route-questionId=@question.Id>@question.Title</a>
                    </td>
                    <td>@question.Body</td>
                    <td>@question.Views</td>
                    <td>@question.DateAdded</td>
                </tr>
            }
        </tbody>
    </table>
</div>
