@model QuestionViewModel

@{

}

<p>Details</p>
<p>@Model.Id</p>
<p>@Model.Title</p>
<p>@Model.Views</p>
<p>@Model.Body</p>
<p>@Model.DateAdded</p>
@if (Model.ImageNamePath != null)
{
    <img src="~/uploads/@Model.ImageNamePath" alt="Image related to the question." />
}
<br />
<a class="btn btn-primary"
   asp-area=""
   asp-controller="Comments"
   asp-action="AddQuestionComment"
   asp-route-questionId="@Model.Id">
    Comment
</a>
<a class="btn btn-warning"
   asp-area=""
   asp-controller="Questions"
   asp-action="Edit"
   asp-route-questionId="@Model.Id">
    Edit
</a>
<a class="btn btn-danger"
   asp-area=""
   asp-controller="Questions"
   asp-action="Remove"
   asp-route-questionId="@Model.Id">
    Remove
</a>
<hr />
<p>
    @foreach (var tag in Model.Tags)
    {
        <span>
            @tag.Name (
            <a  
               asp-controller="Tags"
               asp-action="DetachTag"
               asp-route-tagId="@tag.Id"
               asp-route-questionId="@Model.Id"
               > X 
            </a>
            )
        </span>
    }
    <a class="btn btn-primary btn-sm" 
       asp-controller="Tags"
       asp-action="AttachTag"
       asp-route-questionId="@Model.Id"
       >Attach Tag
    </a>
</p>


<hr />
@foreach (var questionComment in Model.QuestionComments)
{
    <p>
        @questionComment.Body
        @if (questionComment.IsEdited == true)
        {
            <span> (edited) </span>
        }
        (@questionComment.DateAdded)

        <a asp-controller="Comments"
           asp-action="EditQuestionComment"
           asp-route-questionCommentId="@questionComment.Id">
            Edit
        </a>
        <!-- Button trigger modal -->
        @{ 
            string questionCommentModalName = "questionCommentRemoveModal" + questionComment.Id;
        }
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#@questionCommentModalName">
            Remove
        </button>

        <!-- Modal -->
        <div class="modal fade" id="@questionCommentModalName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Remove comment (@questionComment.Id)?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @questionComment.Body
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger"
                           asp-controller="Comments"
                           asp-action="RemoveQuestionComment"
                           asp-route-questionCommentId="@questionComment.Id"
                           asp-route-questionId="@questionComment.QuestionId"
                           >Remove
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </p>
}
<hr />


<table class="table table-striped mt-2">
    <thead>
        <tr>
            <th scope="col">
                Votes
            </th>
            <th scope="col">
                Body
            </th>
            <th scope="col">
                Comments
            </th>
            <th scope="col">
                Added
            </th>
            <th scope="col">
                Image
            </th>
            <th scope="col">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var answer in Model.Answers)
        {
            <tr>
                <th scope="row">
                    <a asp-area=""
                       asp-controller="Answers"
                       asp-action="VoteUpAnswer"
                       asp-route-answerId="@answer.Id"
                       asp-route-questionId="@Model.Id">
                        ^
                    </a>
                    @answer.Votes
                    <a asp-area=""
                       asp-controller="Answers"
                       asp-action="VoteDownAnswer"
                       asp-route-answerId="@answer.Id"
                       asp-route-questionId="@Model.Id">
                        v
                    </a>
                </th>
                <td>@answer.Body</td>
                <td>
                    @foreach (var answerComment in answer.AnswerComments)
                    {
                        <p>
                            @answerComment.Body
                            @if (answerComment.IsEdited == true)
                            {
                                <span> (edited) </span>
                            }
                            (@answerComment.DateAdded)
                            <a asp-controller="Comments"
                               asp-action="EditAnswerComment"
                               asp-route-answerCommentId="@answerComment.Id">
                                Edit
                            </a>
                            <!-- Button trigger modal -->
                            @{ 
                                string answerCommentModalName = "answerCommentRemoveModal" + answerComment.Id;
                            }
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#@answerCommentModalName">
                                Remove
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="@answerCommentModalName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Remove comment (@answerComment.Id)?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            @answerComment.Body
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger"
                                                asp-controller="Comments"
                                                asp-action="RemoveAnswerComment"
                                                asp-route-answerCommentId="@answerComment.Id"
                                                asp-route-questionId="@answerComment.QuestionId"
                                                >Remove
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    }
                </td>
                <td>@answer.DateAdded</td>
                @if (answer.ImageNamePath == null)
                {
                    <td>
                        -
                    </td>
                }
                else
                {
                    <td>
                        <a href="~/uploads/@answer.ImageNamePath" target="_blank"><img class="answerImageThumbnail" src="~/uploads/@answer.ImageNamePath" alt="Image related to the answer." /></a>
                    </td>
                }
                <td>
                    <a class="btn btn-primary"
                       asp-area=""
                       asp-controller="Comments"
                       asp-action="AddAnswerComment"
                       asp-route-questionId="@Model.Id"
                       asp-route-answerId="@answer.Id">
                        Comment
                    </a>
                    <a class="btn btn-warning"
                       asp-area=""
                       asp-controller="Answers"
                       asp-action="EditAnswer"
                       asp-route-answerId="@answer.Id">
                        Edit
                    </a>
                    <a class="btn btn-danger"
                       asp-area=""
                       asp-controller="Answers"
                       asp-action="Remove"
                       asp-route-questionId="@Model.Id"
                       asp-route-answerId="@answer.Id">
                        Remove
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<a class="btn btn-primary"
   asp-area=""
   asp-controller="Answers"
   asp-action="AddAnswer"
   asp-route-questionId="@Model.Id">
    Answer
</a>
<hr />

