@model QuestionViewModel

<p>Details</p>
<p>@Model.Id</p>
<p>@Model.Title</p>
<p>@Model.Views</p>
<p>@Model.Body</p>
<p>@Model.DateAdded</p>
<a class="btn btn-warning"
   asp-area=""
   asp-controller="Questions"
   asp-action="Edit"
   asp-route-questionId="@Model.Id">
    Edit
</a>
<a class="btn btn-danger"
   asp-area=""
   asp-controller="Questions"
   asp-action="Remove"
   asp-route-questionId="@Model.Id">
    Remove
</a>
<hr />

<table class="table table-striped mt-2">
    <thead>
        <tr>
            <th scope="col">
                Votes
            </th>
            <th scope="col">
                Body
            </th>
            <th scope="col">
                Added
            </th>
            <th scope="col">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var answer in Model.Answers)
        {
            <tr>
                <th scope="row">
                    <a asp-area=""
                       asp-controller="Answers"
                       asp-action="VoteUpAnswer"
                       asp-route-answerId="@answer.Id"
                       asp-route-questionId="@Model.Id">
                        ^
                    </a>
                    @answer.Votes
                    <a asp-area=""
                       asp-controller="Answers"
                       asp-action="VoteDownAnswer"
                       asp-route-answerId="@answer.Id"
                       asp-route-questionId="@Model.Id">
                        v
                    </a>
                </th>
                <td>@answer.Body</td>
                <td>@answer.DateAdded</td>
                <td><a class="btn btn-danger"
                       asp-area=""
                       asp-controller="Answers"
                       asp-action="Remove"
                       asp-route-questionId="@Model.Id"
                       asp-route-answerId="@answer.Id">
                        Remove
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<a class="btn btn-primary"
   asp-area=""
   asp-controller="Answers"
   asp-action="AddAnswer"
   asp-route-questionId="@Model.Id">
    Answer
</a>
<hr />